@import "bootstrap";

$featured-proj-bg		: #FAFAFA;
$about-me-bg			: #E6E6fA;
$connect-bg				: #2D2D2D;
$site-copyright-bg		: #111111;


body { 
	padding-top: 50px; 
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

h1, h2 {
	text-transform: uppercase;
}

.featured-projects, .about-me, .connect {
	padding-bottom: 36px;
}

.connect {
	background: $connect-bg;
	color: #eeeeee;

	.social {
		padding: 0;
		margin: 0;
	}

	.social li {
	  background: white;		  		  
	  padding: 0;
	  display: inline-block;
	  margin-left: 5px;		  

	  a {
	  	border: 3px solid #1D1D1D;
	  	color: #1D1D1D;	
	  	display: block;
	  	padding: 6px 8px;
	  	-webkit-transition: all 0.25s ease;
	  	transition: all 0.25s ease;
	
	  	&:hover, &:focus {
	  		color: white;
	  		border: 3px solid white;
	  		background: #1D1D1D;
	  	}	  	
	  }
	}
}

.site-copyright {
	background: $site-copyright-bg;
	color: #EEEEEE;
}

.home {
	.masthead {
		background-image: url("../images/masthead.jpg");
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		height: 100vh;
		position: relative;
		overflow: hidden;

		.content {
			position: absolute;
		  	top: 35%;
		  	left: 50%;
		  	-webkit-transform: translate(-50%, -35%);
		  	-ms-transform: translate(-50%, -35%);
		  	transform: translate(-50%, -35%);
		  	background-color: rgba(245, 245, 245, 0.6);
		  	color: black;
		  	border: 1px solid #000;
		  	border-radius: 7px;		

		  	padding: 20px 10px;
		  	width: 60%;
		}

		h1 {
			font-family: "Merriweather Sans", sans-serif;
			font-weight: 700;
			margin-top: 0;
		}

		h3 {
			font-weight: 700;
		}
	}

	.featured-projects {
		background: $featured-proj-bg;

		.thumbnail { 
			-webkit-transition: background .35s ease;
	    	transition: background .35s ease;	

			.img-container {
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

			.img-container > img {
				-webkit-transition: all .35s ease;
	    		transition: all .35s ease;	    		
    		}
		}

		.viewMore {
			margin-top: 16px;
		}
	}

	.featured-projects a:hover, 
	.featured-projects a:focus {
		text-decoration: none;		

		.thumbnail {
			background: lightblue;

			.img-container > img {
				-webkit-transform: scale(1.2);
				-ms-transform: scale(1.2);
				transform: scale(1.2);
			}	
		}
	}

	.about-me {
		background: $about-me-bg;
	}	
}

.projects {
	/*! http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/ */
	.row.no-gutters {
	   margin-right: 0;
	   margin-left: 0;
	}
	.row.no-gutters > [class^="col-"],
	.row.no-gutters > [class*=" col-"] {
	   padding-right: 0;
	   padding-left: 0;
	}
}

@media (max-width: 500px) {
	.connect .social li {
		display: block;
		margin-bottom: 10px;
	}
}

@media (max-width: 768px) {
	.home .masthead .content {
		width: 100%;
		border-radius: 0;
	}
}

