@import "bootstrap";

$featured-proj-bg		: #FAFAFA;
$about-me-bg			: lavender;
$connect-bg				: #2D2D2D;
$site-copyright-bg		: #111111;


body { 
	padding-top: 50px; 
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

h1, h2 {
	text-transform: uppercase;
}

.featured-projects, .about-me, .connect {
	padding-bottom: 36px;
}

.site-copyright {
	background: $site-copyright-bg;
	color: #eeeeee;
}

.home {
	.masthead {
		background-image: url("../images/masthead.jpg");
		background-size: cover;
		background-position: center center;
		background-repeat: none;
		background-attachment: fixed;
		height: 100vh;
	}

	.featured-projects {
		background: $featured-proj-bg;

		.thumbnail {
			transition: all 0.25s ease;			
		}

		.viewMore {
			margin-top: 16px;
		}
	}

	.featured-projects a:hover, 
	.featured-projects a:focus {
		text-decoration: none;

		.thumbnail {
			background: lightblue;
			position: relative;			
			z-index: 10;
			-webkit-transform:scale(1.1);
			-ms-transform:scale(1.1);
			transform:scale(1.1);
		}
	}

	.about-me {
		background: $about-me-bg;
	}

	.connect {
		background: $connect-bg;
		color: #eeeeee;

		.social {
			padding: 0;
			margin: 0;
		}

		.social li {
		  background: white;		  		  
		  padding: 0;
		  display: inline-block;
		  margin-left: 5px;		  

		  a {
		  	border: 3px solid #1D1D1D;
		  	color: #1D1D1D;	
		  	display: block;
		  	padding: 6px 8px;

		  	&:hover, &:focus {
		  		color: white;
		  		border: 3px solid white;
		  		background: #1D1D1D;
		  	}	  	
		  }
		}
	}	
}

.projects {
	/*! http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/ */
	.row.no-gutters {
	   margin-right: 0;
	   margin-left: 0;
	}
	.row.no-gutters > [class^="col-"],
	.row.no-gutters > [class*=" col-"] {
	   padding-right: 0;
	   padding-left: 0;
	}
}

@media (max-width: 500px) {
	.home {
		.connect .social li {
			display: block;
			margin-bottom: 10px;
		}
	}
}

